@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-regular-webfont.eot');
    src: url('../fonts/pacifico-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff'),
         url('../fonts/pacifico-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1 {
  margin:0;
}

img {
	max-width: 80%;
	height: auto;
	margin-top: 20px;
}

.inner-wrap {
	width: 100%;
	height: 100%;
	transition: all 0.6s;.
	-webkit-transition: all 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

ul li {
    display:inline-block!important;
    margin-right:2em;
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

#jugador1 {
    position: absolute;
    bottom: 0;
}

#jugador3{
    position: absolute;
    bottom: 1;
}

.player {
    width: 100%;
    min-height: 180px;
}

.flex-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-end;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-containerIni {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.flex-containerIni > p{
    text-align: center;
    height: 50px;
    color: #ececf1;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: x-large;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.flex-containerIni > div {
  width: 130px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-containerIni .div1 {
  width: 40px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-containerSepara {
	transform:scale(0.8);
    display: flex;
    height: 40px;
    align-items: center;
    align-content: center;
    place-content: center;
}

.flex-containerSepara > p{
    text-align: center;
    height: 50px;
    color: #ececf1;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: x-large;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.flex-containerSepara  > div {
  width: 130px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.carta-H{
    width: 130px;
    height: 80px;
    display: block;
    transition: transform 0.5s linear;
    cursor: default;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-width: 0.02px;
    border-color: #bababa;
    margin-top: 5px;
}

.carta-V{
    width: 80px;
    height: 130px;
    display: block;
    transition:all 1s;
    cursor: default;
    margin-top: 0px;
    margin-left: 5px;
    border-style: solid;
    border-width: 0.02px;
    border-color: #bababa;
}

.carta{
    width: 80px;
    height: 130px;
    display: block;
    transition:all 1s;
    margin-top: 0px;
    margin-left: 5px;
    border-style: solid;
    border-width: 0.02px;
    border-color: #bababa;
}

html, body, .game-wrapper{
  position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
	overflow: hidden;
	margin : auto;
}
h1, h3 {
	font-family:Kavoon, Helvetica;
}
h1 {
}

.game {
	color:white;
	font-family:Helvetica;
}
.panel-Juego {
	display:inline-block;
	width:30%;
	vertical-align:top;
	height: 100%;
	background: none repeat scroll 0 0 #111111;
    border-right: 2px solid white;
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #111), color-stop(100%, #222)); /*#142B0F*/
	background: -webkit-linear-gradient(bottom, #111, #000);
	background: -moz-linear-gradient(bottom, #111, #222);
	background: -o-linear-gradient(bottom, #111, #222);
	background: -ms-linear-gradient(bottom, #111, #222);
	background: linear-gradient(bottom, #111, #222);
}
.panel-Juego .box {
	width:80%;
	margin:.5em auto 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    border: 1px solid #999;
}
.game-action {
    position: absolute;
    bottom: 0;
    width: 30%;
    left:0;
}
.game-action .cantos-panel {
    width: 80%;
    margin:.5em auto 0;
    border: 1px solid #999;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-bottom: 0;

}
.box-title {
    padding: .2em .2em 0 .2em;
    text-align: center;
    background: #333;
    border-bottom: 1px solid #999;
}
.box-title--hidden {
    border-bottom: 0;
}
.box--collapsable .box-title {
    cursor: pointer;
}
.box-content {
    padding: 3%;
}
.box-content--hidden {
    padding: 0 3%;
    overflow: hidden;
}

.game-main {
	height:100%;
	overflow: hidden;
	margin : auto;
	display: inline-block;
	width:62%;
	vertical-align:top;
}

ul li {
    display:inline-block!important;
    margin-right:2em;
}

.game-header {
	height:100%;
}
.game-header h1{
	text-align:center;
	margin:.3em 0;
	color: #ffffff;
}

.game-header p{
	text-align:center;
	height: 8px;
	color: #ffffff;
	margin: 10px;
}

#puntajes {
	height:10%;
	border:1px solid white;
	width:80%;
	margin:auto;
}
#puntajes td,
#puntajes th {
	text-align:center;
	border:1px solid white;
	width:50%;
}
#log, .log-titulo {
	overflow-y:auto;
    width: 80%;
    margin: .2em auto;
    color: #ffffff;
}
.log-title {
    text-align: center;
}
#log {
    height:50%;
}